# Ignore smoke test logs and other runtime artifacts
tests/*.log

# ignore ai summary file
AI_SUMMARY.md

# adding temp compare log files here
compare*
comparison*

#vim files
*.swo
*.swp

#VSCODE
.vscode
vscode-workspace
